/* ------------------------UC Carpooling Style.css------------------------ */

/* Navbar Styles*/

a.navbarBTN:hover{
	color: darkgray;
}

/* Carousel Styles */

div.carousel-inner{
	margin-top: 10%;
	width: auto; height: auto !important;
}


ol.carousel-indicators {
 	position: absolute;
 	bottom: 0;
 	margin: 0;
 	left: 0;
 	right: 0;
 	width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
 	float: center;
 	width: 10%;
 	height: 10px;
 	margin: 0 2% 0 2%;
 	border-radius: 0;
 	border: 0 2% 0 2%;
 	background: transparent;
}

ol.carousel-indicators li.active {
	background: rgb(140,20,20);
}

div.carousel-caption{
	background: rgba(0,0,0,0.65);
	height: 30%;	
}

h3.carousel-caption{
	min-height: 80%;
	font-family: Impact, fantasy;
}

p.carousel-disc{
	margin-top: 5%;
	font-family: Arial, sans-serif;
}

/* Body & Header Styles */

body{
	
}
div.stats{
	background-color: orange;
	width: 100%
	margin: 0 0 0 0;
}


div.whatis{
	margin: 6% 2% 6% 2%;
}

div.howitworks{
	margin: 6% 2% 6% 2%;
}

p.bodytext{
	font-size: 125%;
	margin: 1% 3% 0 3%;
	line-height: 180%;
	font-family: Arial, sans-serif;
}

hr{
	text-align: center !important;
	margin-left: 5% !important; 
	width: 90%;
	height: 10px;
}


h1{
	margin: 0 0 0 3%;
	font-family: Impact, fantasy;

}

h1.download{
	text-align: center;
	position: relative;
	margin: 2% 0 3% 0;
}

/* Contact Us Form Styles  */

h1.welltext{
	margin: 0 0 0 -3.6%;
}

p.welltext{
	font-size: 125%;
	margin: 1% 0 0 -3.6%;
	font-family: Arial, sans-serif;;
}

div.well{
	margin: 2% 0 0 0; 
}

input.submitBTN:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
	color: black;
}

hr{
	margin: 0 0 0 0;
}

input.submitBTN{
	margin-top: 2%;
}

/* Footer Styles */

footer{
    background: black;
    margin-top: 3%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;

}

p.footertext{
	position: relative;
	text-align: center;
	color: white;
	font-family: New Century Schoolbook, serif;
	font-size: 115%;
}

a.topofpage{
	text-align: center;
	color: white;
	font-family: New Century Schoolbook, serif;
	font-size: 115%
}

a.topofpage:hover{
	color: red;
}