<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>UC Carpooling</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="UC Carpooling Style.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Adds responsiveness to mobile devices --> 

</head>



<body>
	<header>
		<div class="page-header">
			<div id="UCC-header">
				<a href="UC Carpooling.html">
					<img src="UC_CarpoolLogo.jpg" alt="UC Carpool Logo" class="img-rounded" style="margin:0 0 5% 35%; width:30%; height: 30%"> <!-- Logo  -->
				</a>
		</div>
		
	</header>
	
	<div class="stats">
		<div class="piechart">
			<img src="PieChartSample.jpg">
		</div>

		<!--<div>
			<ul style="list-style-type: none">
				<li>Users Online Now: 45</li>
				<li>Total Users This Month: 231</li>
				<li>Total Users Last Month: 187</li>
				<li>All-time Peak: 341</li>
			</ul>
		</div> -->
		
		<!--<div>
			<section>
				<ol>
					<h3>Top 5 Most Popular Destinations This Week</h3>
					<li>Murphy's Pub</li>
					<li>Keystone Grill</li>
					<li>Cane's</li>
					<li>Paul Brown Stadium</li>
					<li>Newport on the Levee</li>
				</ol>
			</section>
		</div> -->
	</div>

	<div>
		<h1 class="download"> Download Now for Android (iOS Support TBD)</h1>
		<img src="GooglePlayIcon.jpg" class="googleicon" alt="Google Play Icon" style="margin:0 0 0 35%; width:30%; height: 30%">
	</div>

	<div class="wall">
		<div class="whatis">
			<h1>What is UC Carpooling?</h1>
			<img src="RoadTrip.jpg" align="right" style="width: 30%; height: 30%; margin: 0 3% 2% 2%">
				<p class="bodytext"> UC Carpooling is a real-time, location-based, ride-sharing app. Made by UC students for UC students, UC Carpooling allows for seamless interaction with anybody in the Cincinnati area using our app. <br> <br> Need a ride to campus? Important game or concert you don't have a ride to? Use our app to find anyone going anywhere you need to go to! Our app provides the means for you to get in touch with your new carpool crew and allows you and your crew to figure out who owes what. Keep in contact with your crew without risk using instant messaging; no exchanging of cell phone numbers necessary.<br><br> Need some extra cash? UC Carpooling is also a great way for you to earn some money on the side while helping your fellow students go places! Passengers can also rate their drivers after the drive to help other people find trustworthy drivers.</p>
		</div>
	</div>

	<div class="howitworks">
		<h1>How Does it Work?</h1>
		<img src="GPSphoto.jpg" align="right" style="width: 22%; height: 22%; margin: 0 3% 2% 2%">
			<p class="bodytext"> After downloading our app, sign up with your UC Email and create an account with ease. Location services allows you to see everyone around you who needs a ride or wants to drive other people (Make sure Location/GPS services are active at all times). Tap on any icon on the map to find out the person's name, rating, and whether they're a rider or driver. Riders will show where they want to go and what they can offer. Drivers will show when and where they plan to drive to and what they'd like in return. <br><br> Talk to people, make some deals and get on the road! 
			</p>
	</div>

	<div class="container">
		<h1 class="welltext">Contact Us</h1>
		<p class="welltext"> We at UC Carpooling value any and all feedback concerning our app. Please understand that our app is still in its development stage, so any issues reported will be greatly appreciated. Just fill out the bottom fields,hit 'Submit' and a developer will answer your question in a timely manner.</p>
  	<div class="well">
  		<form action="/action_page.php">
			<div class="form-group">
      			<label for="usr">Email:</label>
      			<input type="text" class="form-control" id="usr">
    		</div>
    		<div class="form-group">
      			<label for="pwd">First Name:</label>
      			<input type="password" class="form-control" id="pwd">
			<label for="comment"> Comments/Questions: </label>
			<textarea class="form-control" value="Comments/Questions:" rows="5" id="comment"> </textarea>
			<!--<input type="submit" value="Submit" style="margin-top: 1%;">-->
		</form>
	</div>
  	</div>

<footer>
	<div class="footer">
		<a href="UC Carpooling.html" class="topofpage" style="margin:0 0 0 47%"> Back to Top </a>
		<p class="footertext"> UC Carpooling c. 2017 All rights reserved.</p>
	</div>
</footer>
		
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>